.navbar-robocodecup {
    background-color:#388E3C;
    color:#ffffff;
    border-radius:0;
}

.navbar-robocodecup .navbar-nav > li > a {
    color:#fff;
}
.navbar-robocodecup .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-robocodecup .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none; background-color: #4CAF50;
}
.navbar-robocodecup .navbar-brand {
    color:#eeeeee;
}



.table tbody>tr>td.vert-align{
    vertical-align: middle;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}