<div class="row">
    <div class="col-sm-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#!/admin">Competitions</a></li>
                        <li><a href="#!/admin/teams">Teams</a></li>
                        <li><a href="#!/admin/upload_battles">Battles</a></li>
                        <li><a href="#">Profile</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <h3>Competitions</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">Code</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-3">Description</th>
                <th class="col-md-3"># of rounds</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="comp in competitions">
                <td class="vert-align">{{comp.code}}</td>
                <td class="vert-align">{{comp.name}}</td>
                <td class="vert-align">{{comp.description}}</td>
                <td class="vert-align">{{comp.rounds.length}}</td>
            </tr>
            </tbody>
        </table>

        <h3>Add a new competition</h3>
        <form>
            <div ng-if="message.show" class="alert alert-info">
                {{message.details}}
            </div>

            <div class="form-group">
                <label for="code">Competition code</label>
                <input type="text" ng-model='nwCompetition.code' id="code" class="form-control" maxlength="32" placeholder="the code for the new competition(URL Friendly)">
            </div>
            <div class="form-group">
                <label for="name">Competition name</label>
                <input type="text" ng-model='nwCompetition.name' id="name" class="form-control" maxlength="128" placeholder="the name for the competition">
            </div>
            <div class="form-group">
                <label for="description">Competition description</label>
                <input type="text" ng-model='nwCompetition.description' id="description" class="form-control" maxlength="256" placeholder="A description for the competition">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model='nwCompetition.official'> Official
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model='nwCompetition.featured'> Featured
                </label>
            </div>

            <button class="btn btn-default" ng-click="addCompetition()">Submit</button>
        </form>
    </div>
</div>
