<div class="row">
    <div class="col-sm-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#!/admin">Competitions</a></li>
                        <li><a href="#!/admin/teams">Teams</a></li>
                        <li><a href="#!/admin/upload_battles">Battles</a></li>
                        <li><a href="#">Profile</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <button type="button" style="float: right;" class="btn btn-danger" ng-click="logout();">Logout</button>
        <a href="#!/admin/admin_competitions"><button type="button" style="float: right;" class="btn btn-info">Administrate competitions</button></a>
        <h3>This is the administration page for {{competition.name}}</h3>
        <h4>Stats for this competition</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">Code</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-3">Description</th>
                <th class="col-md-3"># of rounds</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="vert-align">{{competition.code}}</td>
                <td class="vert-align">{{competition.name}}</td>
                <td class="vert-align">{{competition.description}}</td>
                <td class="vert-align">{{competition.rounds.length}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>