<div class="row">
    <div class="col-sm-3">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#!/admin">Competitions</a></li>
                        <li class="active"><a href="#!/admin/teams">Teams</a></li>
                        <li><a href="#!/admin/upload_battles">Battles</a></li>
                        <li><a href="#">Profile</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <a href="#!/admin/upload_teams"><button type="button" style="float: right;" class="btn btn-info">Upload teams</button></a>
        <h3>Teams for {{competition.name}}</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-3">Secret</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in teams">
                <td class="vert-align">{{$index +1}}</td>
                <td class="vert-align">
                    <img src="images/{{team.logo}}" style="height: 32px;" alt="Teamlogo" class="img-circle">
                    <a href="#!/team/{{team.code}}">{{team.name}}</a>
                </td>
                <td>{{team.secret_key}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
