<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-6">Name</th>
            <th class="col-md-1 active">Played</th>
            <th class="col-md-1 success" title="# of battles won">Won</th>
            <th class="col-md-1 warning" title="# of battles lost">Lost</th>
            <th class="col-md-1 danger" title="# of battles disqualified">Disq</th>
            <th class="col-md-1 active" title="Total points this round">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ranking in rankings">
            <td class="vert-align">{{ranking.rank}}</td>
            <td class="vert-align">
                <img src="images/{{ranking.icon}}" style="height: 32px;" alt="Teamlog Ruud's team" class="img-circle">
                {{ranking.name}}
            </td>
            <td class="active vert-align">{{ranking.played}}</td>
            <td class="success vert-align">{{ranking.won}}</td>
            <td class="warning vert-align">{{ranking.lost}}</td>
            <td class="danger vert-align">{{ranking.disq}}</td>
            <td class="active vert-align">{{ranking.points}}</td>
        </tr>
    </tbody>
</table>