<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <form class="form">
            <div class="form-group">
                <select class="form-control" ng-options="item for item in competition.rounds" ng-model="round">
                </select>
            </div>
        </form>
    </div>
</div>

<div class="row" style="height: 20px;"></div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-6">Name</th>

                    <th class="col-md-1 active" title="Total points this round">Points</th>
                    <th class="col-md-1">Played</th>
                    <th class="col-md-1 success" title="# of battles won">Won</th>
                    <th class="col-md-1 warning" title="# of battles lost">Lost</th>
                    <th class="col-md-1 danger" title="# of battles disqualified">Disq</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ranking in rankings">
                    <td class="vert-align">{{$index +1}}</td>
                    <td class="vert-align">
                        <img src="images/{{ranking.team.logo}}" style="height: 32px;" alt="Teamlogo {{ranking.team.name}}" class="img-circle">
                        <a href="#!/team/{{ranking.team.code}}">{{ranking.team.name}}</a>
                    </td>

                    <td class="active vert-align"><h3>{{ranking.points}}</h3></td>
                    <td class="vert-align">{{ranking.played}}</td>
                    <td class="success vert-align">{{ranking.wins}}</td>
                    <td class="warning vert-align">{{ranking.loses}}</td>
                    <td class="danger vert-align">{{ranking.disqualifications}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>